<html>
  <head>

    <style>
      .centered {
         width: 100%;
         margin-top: 400px;
         text-align: center;
      }
    </style>
  CALCULATOR By Juan Antona
  </head>
  <body>
    
    <div class="centered">
     
     <form action="/result" method= "POST">
       <p>
         <input type="text" name="number1"/>
       </p>
 
       <p>
         <input type="text" name="number2"/>
       </p>
       <p>
         <input type="submit" name="operation" value="execute" />
       </p>

     </form>

    </div>
  </body>
</html> 