<html>
  <head>

    <style>
      .centered {
         width: 100%;
         margin-top: 400px;
         text-align: center;
      }
    </style>
  CALCULATOR By Juan Antona
  </head>
  <body>
    <div class="centered">
     <form action="/calculator" method= "POST">
       <p>
         <input type="submit" name="operation_type" value="add" />
       </p>
       <p>
         <input type="submit" name="operation_type" value="substract" />
       </p>
       <p>
         <input type="submit" name="operation_type" value="multiply" />
       </p>
       <p>
         <input type="submit" name="operation_type" value="divide" />
       </p>
     </form>
    </div>
  </body>
</html> 