<html>
  <head>

    <style>
      .centered {
         width: 100%;
         margin-top: 400px;
         text-align: center;
      }
    </style>
  CALCULATOR By Juan Antona
  </head>
  <body>
    
    <div class="centered">
     
     <form action="/home_page" method= "POST">
       <p>
         <label for="text">Name:</label>
         <input type="text" name="user_name"/>
       </p>
       <p>
         <label for="text">Password:</label> 
         <input type="text" name="user_password"/>
       </p>
       <p>
         <input type="submit" name="operation" value="login" />
       </p>

     </form>

    </div>
  </body>
</html> 