<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    
    <div class="container">
      <header class="header">
        <h1 class="h1">MOVIE LOVERS By JUAN ANTONA</h1>
        
      </header>  
      <div class="poster">
        <img src="../public/bladerunner.jpg" alt="image">
        <div class="userlogin">
        
          <form action="/show_posters" method= "POST">
          
            <h2>Please, to start the play, type a movie title.</h2>
            <p>
              <label for="Image">TITLE:</label>
              <input type="text" name="movie_title" placeholder="Type a word..."/>
            </p>
            <p>
              <input type="submit" name="operation" value="search" />
            </p>
          </form>
          
        </div>
      </div>  
      <footer class="footer">2015 - Copyright 
      </footer>
    </div>  
  </body>
</html>




